@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* font-family: fantasy; */
  font-family: "Righteous", fantasy;
  font-size: xx-large;
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  margin: 20px;
  width: 80px;
  border-radius: 15px;
  border-color: rgb(232, 18, 232);
  background-color: goldenrod;
  color: white;
  font-family: fantasy;
  font-size: large;
  cursor: pointer;
}

button:disabled {
  background-color: lightgray;
}

.score-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.popup {
  /* width: 60%;
  height: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
