body {
  display: flex;
  justify-content: center;
  background-color: yellowgreen;
  width: 100vh;
  min-height: 50vh;
}

nav {
  display: flex;
  justify-content: center;
  background-color: wheat;
  width: 100vh;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  padding: 10px;
}
