body {
  background-color: rgb(161, 223, 220);
  padding: 2rem;
  width: fit-content;
}

input {
  background-color: rgb(13, 167, 223);
  color: white;
  padding: 0.5rem;
  border-style: dotted;
  border-radius: 5px;
}

label {
  padding: 1rem;
  margin: 0.5.rem;
}

form {
  background-color: rgb(121, 176, 247);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
